<p>
    <h3>Estratégia para <b>Facebook</b></h3>
</p>

<p>
    Segundo o site RockContent, se os dados nos mostram algo é que engajamento consistentemente 
    tem seus picos durante dias da semana e em horários perto do meio dia.
</p>

<p>
    Para muitos usuários é o horário de almoço, o que significa maior tempo para usar seus celulares, 
    navegando pelas redes sociais.
</p>

<p>
    Em contrapartida, finais de semana tendem a ser horários mais pobres para engajamento.
</p>

<p>
    A maioria das pessoas estão fora nesses dias, principalmente aos sábados. Não espere engajamento 
    quando sua audiência está mais ocupada.
</p>

<p>
    A maior rede social do mundo está passando por situações adversas, no entanto, ela ainda é a 
    mais importante para as marcas, sendo um poço de oportunidades para sua empresa.
</p>

<p>
    <b>Veja o gráfico abaixo.</b>
</p>

<%= image_tag 'facebook_public_watch_time', class: 'container'%>

<p class="mt-4">
    <b>Podemos analisar e constatar que:</b> 
</p>

<p>
    Os melhores horários para postar no Facebook são quartas das <b>11:00h as 14:00h</b>.
</p>

<p>
    Quarta-feira é o melhor dia da semana para publicar no Facebook.
</p>

<p>
    Os horários mais certeiros para postagem incluem dias da semana de <b>9:00h até as 15:00h</b>.
</p>

<p>
    Domingo é o dia com menor oportunidade de engajamento.
</p>

<p>
    Períodos entre <b>17:00h e 19:00h</b> e horários bem cedo na manhã não são bons se seu objetivo é engajamento.
</p>

<hr />