<p>
    <h3>Estratégia para <b>Instagram</b></h3>
</p>

<p>
    Segundo o site RockContent, alguns dos horários de maior engajamento são no final da madrugada, às 
    5 da manhã.
</p>

<p>
    Um horário extremamente inusitado, mas que pode ser justificado por aquelas pessoas que acordam cedo e 
    tem como o hábito checar o Instagram assim que acordam.
</p>

<p>
    Outros bons horários de engajamento são nos meios da tarde durante dias da semana, o que caracteriza 
    usuários que frequentemente olham suas redes sociais para se dispersar um pouco da rotina e o cansaço do 
    dia.
</p>

<p>
    Ao contrário do que podemos pensar, finais de semana não são tão piores para engajamento quanto dias da 
    semana.
</p>

<p>
    Na verdade, mesmo fora de casa, as pessoas usam seus celulares e estão altamente conectadas. Apesar 
    disso, o engajamento cai bastante nas manhãs de Domingo e Segunda.
</p>

<p>
    Atualmente é imprescindível para qualquer empresa estar nessa rede e saber como se portar nela. Afinal, 
    o Instagram é considerado por muito a rede do futuro.
</p>

<p>
    <b>Veja o gráfico abaixo.</b>
</p>

<%= image_tag 'instagram_public_watch_time', class: 'container'%>

<p class="mt-4">
    <b>Podemos analisar e constatar que:</b> 
</p>

<p>
    Os melhores horários para se postar no Instagram são <b>Quartas às 11:00h e Sextas de 10-11:00h</b>.
</p>

<p>
    Sexta é o melhor dia para se postar no Instagram.
</p>

<p>
    Os horários mais seguros para postagem vão de <b>Terças às Sextas de 9:00h até as 18:00h</b>.
</p>

<p>
    Domingo é o dia com menor oportunidade de engajamento.
</p>

<p>
    Domingo é o dia com pior engajamento para o seu Instagram.
</p>

<hr />