<p>
    <h3>Estratégia para <b>Youtube</b></h3>
</p>

<p>
    Segundo o site Dinamize, o Youtube é o segundo site mais visitado no mundo, ficando atrás apenas do Google. 
    A maior parte dos usuários da plataforma são homens, compondo <b>62%</b>. 
    Além disso, predominam os usuários entre a faixa etária de <b>25 a 44 anos</b>. 
    Mais da metade das visualizações de vídeos são provenientes de dispositivos móveis.
</p>

<p>
    O Youtube é uma rede social com um enorme potencial, já que funciona também como 
    um buscador. A otimização para SEO é super importante para que você tenha 
    resultados eficazes. Contudo, as estratégias de horários também não devem ser 
    deixadas de lado.
</p>

<p>
    <b>Veja o gráfico abaixo.</b>
</p>

<%= image_tag 'youtube_public_watch_time', class: 'container'%>

<p class="mt-4">
    <b>Podemos analisar e constatar que:</b> 
</p>

<p>
    O melhor horário para postar no Youtube fica entre <b>14h e 16h</b> da tarde;
</p>

<p>
    O horário de maior tráfego na rede social é das <b>19h às 22h</b> da noite. 
</p>

<p>
    Como o Youtube é mais similar ao Google do que outras mídias, poste algumas horas antes para 
    que dê tempo do algoritmo indexar seu vídeo;
</p>

<p>
    Nos fins de semana, aposte em um horário mais cedo, como entre <b>10h e 11h</b> da manhã;
</p>

<p>
    Quintas-feiras e sextas-feiras são os melhores dias para publicar vídeos, pois se aproximam 
    do fim de semana.
</p>

<hr />