<div class="div_center">
    <div class="knowing_how">
        <div class="container">
            <h4>Sobre.</h4>

            <hr />

            <p>
                Esse é o passo a passo para fazer sua empresa decolar no <b>mercado digital</b>.
            </p>

            <hr />

            <%= link_to 'Avançar', business_type_path, class: 'button' %>
        </div>
    </div>
</div>