<div class="div_center">
    <div class="business_type">
        <div class="container">
            <h4>Qual é o Tipo do seu Negócio?!</h4>

            <hr />

            <%= link_to '#', class: "button me-2" do %>
                Venda de Produtos 
                <i class="fa fa-tshirt ms-2"></i>
            <% end %>

            <%= link_to '#', class: "button me-2" do %>
                Prestação de Serviços 
                <i class="fa fa-tools ms-2"></i>
            <% end %>
        </div>
    </div>
</div>