<div class="div_center">
    <div class="business_type">
        <div class="container">
            <h4>Que legal! Então eu tenho algumas curiosidades para você!</h4>

            <hr />

            <p>
                Você sabia que a <b>internet</b> é um dos ambientes mais propícios para vender produtos?
                E você pode vender produtos de qualquer tipo!
            </p>
        </div>
    </div>
</div>