<div class="div_center mt-4">
    <div class="knowing_how">
        <div class="container">
            <h4>A importância das redes sociais.</h4>
            
            <hr />

            <p>
                Muita gente já ouviu aquela velha frase <b>"Quem não é visto, não é lembrado"</b>.
                Mas como utilizar isso a nosso favor, impulsionando nosso trabalho e 
                consequentemente nossas vendas de serviços ou produtos?! 
            </p>

            <p>
                Para isso utilizamos as <b>redes sociais</b> do nosso negócio. <br />
                Criando uma rede social você <b>alcança mais pessoas</b>, consegue <b>direcionar o 
                seu nicho</b> e por consequência consegue fazer cada vez mais vendas.
            </p>

            <p>
                Segundo Adan Porto, especialista em marketing digital e CEO da <b>P3,A</b>, algumas das
                melhores redes para você estar presente são:
            </p>

            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Youtube</li>
                <li>LinkedIn</li>
            </ul>

            <p>
                E você pode se informar melhor sobre posicionamento do seu <b>negócio online</b> 
                <a href="https://p3a.com.br/o-que-e-marketing-digital/">aqui</a>.
            </p>

            <hr />
            
            <%= link_to 'Prosseguir', facebook_url, class: 'btn btn-primary' %>

            <hr />

            <%= link_to 'Voltar', about_internet_path, class: 'btn btn-warning' %>
        </div>
    </div>
</div>